.header {
    background: #f7f7f7;
    border: 1px solid #f7f7f7; /* needs fisxing*/
    color: #666;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 1.6rem;
  }

.body {
    margin-bottom: 1.6rem;
}