.input {
    border: 1px solid #cacccd;
    height: 50px;
    font-size: 1.8rem;
    font-weight: 300;
    padding: 1.2rem;
    margin-bottom:1.2rem;
    width:100%;
}

.error {
    border: 1px solid #ff0033;
    background: #FFCCCC;
}

.errorText{
    margin-top:0.5remrem;
    margin-bottom:0.5rem

}