.input {
    border: 1px solid #cacccd;
    height: 50px;
    font-size: var(--font-size-large);
    font-weight: 300;
    padding: var(--s-size);
    margin-bottom:var(--s-size);
    width:100%;
}

.error {
    border: 1px solid #ff0033;
    background: #FFCCCC;
}

.errorText{
    margin-top:0.5remrem;
    margin-bottom:0.5rem

}