.header {
    background: var(--dark-blue);
}
  
.title {
    color: white;
    text-decoration: none;
    font-size:4rem;
}

.content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: var(--s-size) 0;
  }
  

@media (max-width: 45rem) {
    .title{
      font-size:2.5rem;
      margin-left:1rem;
    } 
  }